.header-section{
    background-image: url("img/pic-6.png");
    background-size: contain;
   background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}
h1{
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;

}
h2{
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    
}
p{
    font-size: 2vw;
    text-align: justify;
    }
.color-form{
    color: chartreuse;
}
.container-flex{
    margin-bottom: 100px;
    display: flex;
}
.link-button{
    text-decoration: none;
    outline: yellow;
background-color: rgb(194, 30, 167);
    padding 30px;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    border-radius: 5px;
    

}
.q-section{
width: 50%;
padding: 5%;
}
.q-section img{
    
  width: 80%;
}

.middle-section{
    background-image: url("img/bg-3.png");
    background-repeat: no-repeat;
    background-position: right;
}
.achievement-sec{
    background-image: url("img/bg-2.png");
    background-repeat: no-repeat;
    position: left;
    margin:0;
}
.my-achievement{
    width: 40%;
   margin-left: auto;
   margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px green;
}
#pro-sec{
    border-left: 7px solid ;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;
}
#junior-sec{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}